<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/aos.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}" defer></script>
    <title>TreeWise</title>
</head>
<body>
    <div class="header">
        <nav class="navbar navbar-expand-md top-nav">
            <a href="/home" class="navbar-brand m-0 px-3"><img src="../static/images/cover.png" class="logo" alt="TreeWise Logo" id="logo"></a>
            <div class="container">
                <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#nav-menu">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="nav-menu">
                    <div class="col-8">
                        <div class="container ">
                            <div class="row">
                                <ul class="navbar-nav ms-auto">
                                    <li class="nav-item"><a href="/importance" class="nav-link">Importance of Tree Identification</a></li>
                                    <li class="nav-item"><a href="/species" class="nav-link">Colorado Tree Species</a></li>
                                    <li class="nav-item"><a href="/quiz" class="nav-link">Take a Quiz</a></li>
                                    <li class="nav-item"><a href="/user/account" class="nav-link">Account</a></li>
                                </ul>
                            </div>
                            <div class="row">
                                <form action="/species/search" id="search" method="post">
                                    <input type="search" name="name" class="rounded-4" id="search-field" placeholder="Search Colorado Trees..." autocomplete="off">
                                    <input type="submit" class="rounded-4 button" value="Search">
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col ms-auto">
                        <a href="/user/logout" class="rounded-4 py-1 button">Logout</a>
                    </div>
                </div>
            </div>
        </nav>
        <div class="container mx-auto p-5 m-5 rounded-4 opaq_back">
            <div class="main-info flex flex_even">
                <div class="Qresults_sec">
                    <h2>{{ session.first_name }}'s Quiz results</h2>
                    <table>
                        <thead class="quizR_head">
                            <th>Quiz I.D. number:</th>
                            <th>Date:</th>
                            <th>Score</th>
                        </thead>
                        {% for quiz in quiz_data %}
                            <tr>
                                <td>{{ quiz.id }}.</td>
                                <td>{{ quiz.created_at }}</td>
                                <td>{{ quiz.score }}%</td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
                <div class="right_act_side">
                    <div class="act_upd_fr">
                        <h2>{{ user.first_name }}'s Account Info</h2>
                        <form action="/user/update" method="post">
                            <input type="hidden" name="id" value="{{ user.id }}">
                            <label>First Name:
                                <input type="text" name="first_name" value="{{ user.first_name }}">
                            </label>
                            <label>Last Name:
                                <input type="text" name="last_name" value="{{ user.last_name }}">
                            </label>
                            <label>Email:
                                <input type="email" name="email" value="{{ user.email }}">
                            </label>
                            <label>Occupation:
                                <select name="occupation">
                                    <option value="{{ user.occupation }}">{{ user.occupation }}</option>
                                    <option value="Arborist">Arborist</option>
                                    <option value="Owner">Owner</option>
                                    <option value="Climber">Climber</option>
                                    <option value="Groundie">Groundie</option>
                                    <option value="Landscaper">Landscaper</option>
                                    <option value="Horticulturist">Horticulturist</option>
                                    <option value="Sales">Sales</option>
                                    <option value="Applicator">Applicator</option>
                                    <option value="Other">Just here for the trees man!!</option>
                                </select>
                            </label>
                            <label>Company Name:
                                <input type="text" name="company_name" value="{{ user.company_name }}">
                            </label>
                            <label>Member Since: {{ user.created_at }}</label>
                            <input type="submit" class="button" value="Update Account Info">
                        </form>
                    </div>
                    <div>
                        <form action="/user/account/delete" method="post">
                            <input type="hidden" name="id" value="{{ user.id }}">
                            <input type="submit" class="button" value="Delete Account">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <footer class="py-5 p-lg-5">
            <div class="container">
                <div class="row gy-4 justify-content-between">
                    <div class="col-auto">
                        <p class="mb-0">© 2024 Jonathan Rodgers</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="../static/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/aos.js"></script>
</body>
</html>