<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}" defer></script>
    <title>TreeWise</title>
</head>
<body>
    <div class="header">
        <div class="top-nav">
            <img src="/static/images/cover.png" alt="TreeWise Logo" id="logo">
            <div>
                <ul>
                    <li><a href="/importance">Importance of Tree Identification</a></li>
                    <li><a href="/species">Colorado Tree Species</a></li>
                    <li><a href="/quiz">Take a Quiz</a></li>
                    <li><a href="/user/account">Account</a></li>
                </ul>
                <form action="/species/search" id="search" method="post">
                    <input type="search" name="name" id="search-field" placeholder="Search Colorado Trees..." autocomplete="off">
                    <input type="submit" class="button" value="Search">
                </form>
            </div>
            <a href="/user/logout" class="button">Logout</a>
        </div>
        <div class="opaq_back">
            <p></p>
        </div>
    </div>
</body>
</html>

