<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..//static/css/bootstrap.min.css">
    <link rel="stylesheet" href="..//static/css/aos.css">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <title>TreeWise</title>
</head>
<body>
    <div class="header">
        <nav class="navbar navbar-expand-md top-nav">
            <a href="/home" class="navbar-brand px-3"><img src="../static/images/cover.png" class="logo" alt="TreeWise Logo" id="logo"></a>
            <div class="container">
                <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#nav-menu">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="nav-menu">
                    <div class="col-8">
                        <div class="container ">
                            <div class="row">
                                <ul class="navbar-nav ms-auto">
                                    <li class="nav-item"><a href="/importance" class="nav-link">Importance of Tree Identification</a></li>
                                    <li class="nav-item"><a href="/species" class="nav-link">Colorado Tree Species</a></li>
                                    <li class="nav-item"><a href="/quiz" class="nav-link">Take a Quiz</a></li>
                                    <li class="nav-item"><a href="/user/account" class="nav-link">Account</a></li>
                                </ul>
                            </div>
                            <div class="row">
                                <form action="/species/search" id="search" method="post">
                                    <input type="search" name="name" class="rounded-4" id="search-field" placeholder="Search Colorado Trees..." autocomplete="off">
                                    <input type="submit" class="rounded-4 button" value="Search">
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col ms-auto">
                        <a href="/user/logout" class="rounded-4 button">Logout</a>
                    </div>
                </div>
            </div>
        </nav>
        <section id="contact">
            <div class="container mx-auto p-5 m-5 rounded-4 opaq_back">
                <div class="row justify-content-center text-center" data-aos="fade-up" >
                    <div class="col-lg-8 pb-4">
                        <h6 class="text-brand">Contact Me</h6>
                        <h1 data-aos="fade-up" data-aos-delay="300">Say hello!!</h1>
                    </div>
                    <div class="col-lg-8">
                        <form target="_blank" action="https://formsubmit.co/61f22b9cce47ffbe87bc2485ebf652a1" method="post" class="row gy-lg-3 gy-3">
                            <input type="hidden" name="_captcha" value="false">
                            <input type="hidden" name="_next" value="#">
                            <div class="form-group col-md-6" data-aos="zoom-in-up" data-aos-delay="300">
                                <input type="text" class="form-control" placeholder="Enter your name..." name="name" required>
                            </div>
                            <div class="form-group col-md-6" data-aos="zoom-in-up" data-aos-delay="600">
                                <input type="email" class="form-control" placeholder="Enter your email..." name="email" required>
                            </div>
                            <div class="form-group col-12" data-aos="zoom-in-up" data-aos-delay="900">
                                <input type="text" class="form-control" placeholder="Enter subject..." name="subject">
                            </div>
                            <div class="form-group col-12" data-aos="zoom-in-up" data-aos-delay="1200">
                                <textarea name="message" rows="5" class="form-control" placeholder="What would you like to talk about?" required></textarea>
                            </div>
                            <div class="form-group col-12 d-grid" data-aos="zoom-in-up" data-aos-delay="1500">
                                <button type="submit" class="btn btn-brand">Contact me</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <footer class="py-5 p-lg-5">
            <div class="container">
                <div class="row gy-4 justify-content-between">
                    <div class="col-auto">
                        <p class="mb-0">© 2024 Jonathan Rodgers</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="../static/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/aos.js"></script>
    <script src="../static/js/script.js"></script>
</body>
</html>