<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/aos.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}" defer></script>
    <title>TreeWise</title>
</head>
<body>
    <div class="header">
        <nav class="navbar navbar-expand-md top-nav">
            <a href="/home" class="navbar-brand m-0 px-3"><img src="../static/images/cover.png" class="logo" alt="TreeWise Logo" id="logo"></a>
            <div class="container">
                <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#nav-menu">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="nav-menu">
                    <div class="col-8">
                        <div class="container ">
                            <div class="row">
                                <ul class="navbar-nav ms-auto">
                                    <li class="nav-item"><a href="/importance" class="nav-link">Importance of Tree Identification</a></li>
                                    <li class="nav-item"><a href="/species" class="nav-link">Colorado Tree Species</a></li>
                                    <li class="nav-item"><a href="/quiz" class="nav-link">Take a Quiz</a></li>
                                    <li class="nav-item"><a href="/user/account" class="nav-link">Account</a></li>
                                </ul>
                            </div>
                            <div class="row">
                                <form action="/species/search" id="search" method="post">
                                    <input type="search" name="name" class="rounded-4" id="search-field" placeholder="Search Colorado Trees..." autocomplete="off">
                                    <input type="submit" class="rounded-4 button" value="Search">
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col ms-auto">
                        <a href="/user/logout" class="rounded-4 py-1 button">Logout</a>
                    </div>
                </div>
            </div>
        </nav>
        <div class="opaq_back">
            <div class="main-info">
                <h1>Welcome, {{ user.first_name }}</h1>
                <p>Congratulations on taking the next step to enhancing your professional, personal or recreational life! Make sure to introduce your self below.  If you have any questions, want to post your latest quiz results or just plain talk trees feel free to do so.  </p>
                <div class="flex">
                    <div class="flex_even">
                        <form action="/user/comment" id="comment_form" method="post">
                            <input type="hidden" name="user_id" value="{{ session.user_id }}">
                            <label for="comment">
                                <textarea name="comment" id="comment" cols="50" rows="8"></textarea>
                            </label>
                            <input type="submit" class="button" value="Submit">
                        </form>
                        <div class="comment-box">
                            <h2>What are people saying?</h2>
                            {% for comment in comments %}
                                <div class="comment">
                                    <div class="comment_head">
                                        <h3>{{ comment.creator.first_name }} {{ comment.creator.last_name }}</h3>
                                        <p>{{ comment.creator.occupation }} | {{ comment.creator.company_name }}</p>
                                    </div>
                                    <div class="comment_body">
                                        <p>{{ comment.comment }}</p>
                                        <h4>{{ comment.created_at }}</h4>
                                    </div>
                                    {% if comment.creator.id == session.user_id %}
                                    <div>
                                        <a href="/user/comment/delete/{{ comment.id }}">delete</a> | 
                                        <a onclick="showForm({{comment.id}})" type="button" class="show_popup">edit</a>
                                    </div>
                                    <div class="popup_container" id="popup_container{{ comment.id }}">
                                        <div class="popup_box">
                                            <form action="/user/comment/update" method="post">
                                                <input type="hidden" name="id" value="{{ comment.id }}">
                                                <label>
                                                    <textarea name="comment" id="comment" cols="50" rows="8">{{ comment.comment }}</textarea>
                                                </label>
                                                <div class="flex">
                                                    <input type="submit" class="close_button button" value="Post">
                                                </div>
                                            </form>
                                                    <button onclick="commentOffNow()" class="button">Cancel</button>
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class=" block">
                        <div class="home_tree">
                            <img src="/static/images/home_tree.png">
                            <p>Green ash tree located in Arvada, CO on a beautiful fall morning<p>
                        </div>
                        <div class="home_tree">
                            <img src="/static/images/cottonwood.png">
                            <p>Cottonwood tree in Lakewood, CO</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../static/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/aos.js"></script>
</body>
</html>