<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/aos.css">
    <link rel="stylesheet" type="text/css" href="..//static/css/style.css">
    <title>TreeWise</title>
</head>
<body>
    <div class="header">
        <nav class="navbar-brand m-0 px-3 top-nav">
            <div class="container-fluid">
                <div class="row d-flex-column align-items-center">
                    <div class="col">
                        <img src="../static/images/cover.png" class="logo" alt="TreeWise Logo" id="logo">
                    </div>
                    <div class="col-md-4 col-lg-3 col-xl-2">
                        <a class="button rounded-4 p-2 m-3" href="/register">Create an Account</a>
                        <a class="button rounded-4 p-2 m-3" href="/login">Login</a>
                    </div>
                </div>
            </div>
        </nav>
        <div class="container mx-auto p-5 m-5 rounded-4 opaq_back">
            <div class="main-info">
                <h1>Discover the Fascinating World of Colorado Trees</h1>
                <p>With approximately 3.04 trillion trees gracing our planet, the diversity of tree species is nothing short of awe-inspiring. In the United States alone, there are around 228 billion trees, representing roughly 640 different species. Colorado, known for its stunning landscapes and abundant natural beauty, ranks fifth among states with the most trees. Within its borders, Colorado is home to approximately 50 native tree species, along with an additional 30 non-native species, contributing to a thriving tree population of 6.1 billion.</p>
                <p>Each tree species possesses its own unique characteristics, requirements, and challenges, making the process of tree identification both intriguing and essential. As an ISA board-certified arborist deeply passionate about nature and trees, I have encountered many fellow arborists who struggle to accurately identify native trees they encounter in their daily work. Motivated by a desire to empower individuals to better care for the trees around them, I embarked on a mission to provide comprehensive tree identification resources.</p>
                <p>Whether you are a professional arborist seeking to enhance your knowledge or a nature enthusiast eager to delve deeper into the world of trees, our platform offers invaluable tools and resources to support your journey. By signing up for an account, you gain access to a wealth of information about different tree species native to Colorado. Explore the distinctive characteristics of each species, from their foliage and bark to their preferred habitats and ecological roles.</p>
                <p>Feeling confident in your newfound knowledge? Test your skills with our interactive quizzes designed to challenge and reinforce your understanding of tree identification. Track your progress over time, celebrate your successes, and connect with fellow tree enthusiasts in our vibrant online community.</p>
                <h2>Embark on your journey into the captivating realm of tree identification today. Take the next step towards becoming a more informed and empowered steward of our natural environment. With dedication and determination, you can unlock the secrets of Colorado's diverse tree species and cultivate a deeper appreciation for the remarkable beauty of our arboreal companions.</h2>
            </div>
        </div>
        <footer class="py-5 p-lg-5">
            <div class="container">
                <div class="row gy-4 justify-content-between">
                    <div class="col-auto">
                        <p class="mb-0">© 2024 TreeWise Jonathan Rodgers</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="../static/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/aos.js"></script>
    <script src="../static/js/script.js"></script>
</body>
</html>
