<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/aos.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/questions.js') }}" defer></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>TreeWise</title>
</head>
<body>
    <div class="header">
        <nav class="navbar navbar-expand-lg top-nav">
            <a href="/home" class="navbar-brand m-0 px-3"><img src="../static/images/cover.png" class="logo" alt="TreeWise Logo" id="logo"></a>
            <div class="container">
                <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#nav-menu">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="nav-menu">
                    <div class="col-8">
                        <div class="container ">
                            <div class="row">
                                <ul class="navbar-nav ms-auto">
                                    <li class="nav-item"><a href="/importance" class="nav-link">Importance of Tree Identification</a></li>
                                    <li class="nav-item"><a href="/species" class="nav-link">Colorado Tree Species</a></li>
                                    <li class="nav-item"><a href="/quiz" class="nav-link">Take a Quiz</a></li>
                                    <li class="nav-item"><a href="/user/account" class="nav-link">Account</a></li>
                                    <li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
                                </ul>
                            </div>
                            <div class="row">
                                <form action="/species/search" id="search" method="post">
                                    <input type="search" name="name" class="rounded-4" id="search-field" placeholder="Search Colorado Trees..." autocomplete="off">
                                    <input type="submit" class="rounded-4 button" value="Search">
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col ms-auto">
                        <a href="/user/logout" class="rounded-4 py-1 button">Logout</a>
                    </div>
                </div>
            </div>
        </nav>
        <div class="container mx-auto p-5 m-5 rounded-4 opaq_back">
            <div class="main-info_quiz">
                <div class="quiz_section">
                    <div class="quiz_box">
                        <h1>Tree Quiz</h1>
                        <div class="quiz_header">
                            <span>Quiz Info</span>
                            <span class="header_score">Score: 0 / 10</span>
                        </div>
                        <h2>Identify This Tree</h2>
                        <h2 class="question_text"></h2>
                        <div class="quiz_pics">
                        </div>
                        <div id="option_list" class="option_list">
                        </div>
                        <div class="quiz_footer">
                            <span class="question_total">question 1 of 10</span>
                            <button onclick="nextQuestion()" class="next_button"> Next</button>
                        </div>
                    </div>
                    <div class="results_box">
                        <h2>Quiz Results!</h2>
                        <div class="percentage_container">
                            <div class="circular_progress">
                                <span class="progress_value">0%</span>
                            </div>
                            <span class="score_text">Your Score: 0 out of 10</span>
                        </div>
                        <div class="end_buttons">
                            <button onclick="tryQuizAgain()" class="tryAgian_btn">Try Again</button>
                            <button onclick="goHome()" class="goHome_btn">Maybe Later</button>
                        </div>
                    </div>
                </div>
                <div class="home">
                    <div class="quiz_home">
                        <h1>Take a Quiz</h1>
                        <p>Test your knowledge and track your quiz results.</p>
                        <button onclick="startQuiz()" class="start_button" >Start Quiz</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="popup_quiz">
        <h2>Tree Quiz</h2>
        <span class="info">1. Take a look at the pictures provided.</span>
        <span class="info">2. Compare the options provided. </span>
        <span class="info">3. Use the new information you have learned to pick an option.</span>
        <span class="info">4. Take a look at your results.</span>
        <span class="info">5. Try again or compare your results to past quizes</span>
        <div class="button_group">
            <button onclick="stopQuiz()" class="info_button">Exit Quiz</button>
            <button onclick="continueQuiz()" class="info_button continueBtn">Continue</button>
        </div>
        <footer class="py-5 p-lg-5">
            <div class="container">
                <div class="row gy-4 justify-content-between">
                    <div class="col-auto">
                        <p class="mb-0">© 2024 TreeWise Jonathan Rodgers</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="../static/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/aos.js"></script>
</body>
</html>
