<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/questions.js') }}" defer></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>TreeWise</title>
</head>
<body>
    <div class="header">
        <div class="top-nav">
            <a href="/home"><img src="/static/images/cover.png" alt="TreeWise Logo" id="logo"></a>
            <div>
                <ul>
                    <li><a href="/importance">Importance of Tree Identification</a></li>
                    <li><a href="/species">Colorado Tree Species</a></li>
                    <li><a href="/quiz">Take a Quiz</a></li>
                    <li><a href="/user/account">Account</a></li>
                </ul>
                <form action="/species/search" id="search" method="post">
                    <input type="search" name="name" id="search-field" placeholder="Search Colorado Trees..." autocomplete="off">
                    <input type="submit" class="button" value="Search">
                </form>
            </div>
            <a href="/user/logout" class="button">Logout</a>
        </div>
        <div class="opaq_back">
            <div class="main-info_quiz">
                <div class="quiz_section">
                    <div class="quiz_box">
                        <h1>Tree Quiz</h1>
                        <div class="quiz_header">
                            <span>Quiz Info</span>
                            <span class="header_score">Score: 0 / 10</span>
                        </div>
                        <h2>Identify This Tree</h2>
                        <h2 class="question_text"></h2>
                        <div class="quiz_pics">
                        </div>
                        <div id="option_list" class="option_list">
                        </div>
                        <div class="quiz_footer">
                            <span class="question_total">question 1 of 10</span>
                            <button onclick="nextQuestion()" class="next_button"> Next</button>
                        </div>
                    </div>
                    <div class="results_box">
                        <h2>Quiz Results!</h2>
                        <div class="percentage_container">
                            <div class="circular_progress">
                                <span class="progress_value">0%</span>
                            </div>
                            <span class="score_text">Your Score: 0 out of 10</span>
                        </div>
                        <div class="end_buttons">
                            <button onclick="tryQuizAgain()" class="tryAgian_btn">Try Again</button>
                            <button onclick="goHome()" class="goHome_btn">Maybe Later</button>
                        </div>
                    </div>
                </div>
                <div class="home">
                    <div class="quiz_home">
                        <h1>Take a Quiz</h1>
                        <p>Test your knowledge and track your quiz results.</p>
                        <button onclick="startQuiz()" class="start_button" >Start Quiz</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="popup_quiz">
        <h2>Tree Quiz</h2>
        <span class="info">1. Take a look at the pictures provided.</span>
        <span class="info">2. Compare the options provided. </span>
        <span class="info">3. Use the new information you have learned to pick an option.</span>
        <span class="info">4. Take a look at your results.</span>
        <span class="info">5. Try again or compare your results to past quizes</span>
        <div class="button_group">
            <button onclick="stopQuiz()" class="info_button">Exit Quiz</button>
            <button onclick="continueQuiz()" class="info_button continueBtn">Continue</button>
        </div>
    </div>
</body>
</html>
