<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}" defer></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/questions.js') }}" defer></script>
    <title>TreeWise</title>
</head>
<body>
    <div class="header">
        <div class="top-nav">
            <a href="/home"><img src="/static/images/cover.png" alt="TreeWise Logo" id="logo"></a>
            <div>
                <ul>
                    <li><a href="/importance">Importance of Tree Identification</a></li>
                    <li><a href="/species">Colorado Tree Species</a></li>
                    <li><a href="/quiz">Take a Quiz</a></li>
                    <li><a href="/user/account">Account</a></li>
                </ul>
                <form action="/species/search" id="search" method="post">
                    <input type="search" name="name" id="search-field" placeholder="Search Colorado Trees...">
                    <input type="submit" class="button" value="Search">
                </form>
            </div>
            <a href="/user/logout" class="button">Logout</a>
        </div>
        <div class="opaq_back">
            <div class="main-info_quiz">
                <div class="quiz_section">
                    <div class="quiz_box">
                        <h1>Tree Quiz</h1>
                        <div class="quiz_header">
                            <span>Quiz Info</span>
                            <span class="header_score">Score: 0 / 10</span>
                        </div>
                        <h2 class="question_text">Identify this tree</h2>
                        <div id="option_list" class="option_list">
                        </div>
                        <div class="quiz_footer">
                            <span class="question_total">question 1 of 10</span>
                            <button id="next_button" class="next_button"> Next Question</button>
                        </div>
                    </div>
                </div>
                <div class="home">
                    <div class="quiz_home">
                        <h1>Take a Quiz</h1>
                        <p>Test your knowledge and track your quiz results.</p>
                        <button onclick="startQuiz()" class="start_button" id="start_button">Start Quiz</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="popup_quiz">
        <h2>Tree Quiz</h2>
        <span class="info">1. Lorem ipsum, dolor sit amet consectetur</span>
        <span class="info">2. Lorem ipsum, dolor sit amet consectetur</span>
        <span class="info">3. Lorem ipsum, dolor sit amet consectetur</span>
        <span class="info">4. Lorem ipsum, dolor sit amet consectetur</span>
        <span class="info">5. Lorem ipsum, dolor sit amet consectetur</span>
        <div class="button_group">
            <button onclick="stopQuiz()" class="info_button">Exit Quiz</button>
            <button onclick="continueQuiz()" class="info_button continueBtn">Continue</button>

        </div>
    </div>
</body>
</html>
