<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/aos.css">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <title>TreeWise</title>
</head>
<body>
    <div class="header">
        <nav class="navbar navbar-expand-md top-nav">
            <a href="/home" class="navbar-brand m-0 px-3"><img src="../static/images/cover.png" class="logo" alt="TreeWise Logo" id="logo"></a>
            <div class="container">
                <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#nav-menu">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="nav-menu">
                    <div class="col-8">
                        <div class="container ">
                            <div class="row">
                                <ul class="navbar-nav ms-auto">
                                    <li class="nav-item"><a href="/importance" class="nav-link">Importance of Tree Identification</a></li>
                                    <li class="nav-item"><a href="/species" class="nav-link">Colorado Tree Species</a></li>
                                    <li class="nav-item"><a href="/quiz" class="nav-link">Take a Quiz</a></li>
                                    <li class="nav-item"><a href="/user/account" class="nav-link">Account</a></li>
                                    <li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
                                </ul>
                            </div>
                            <div class="row">
                                <form action="/species/search" id="search" method="post">
                                    <input type="search" name="name" class="rounded-4" id="search-field" placeholder="Search Colorado Trees..." autocomplete="off">
                                    <input type="submit" class="rounded-4 button" value="Search">
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col ms-auto">
                        <a href="/user/logout" class="rounded-4 py-1 button">Logout</a>
                    </div>
                </div>
            </div>
        </nav>
        <div class="container mx-auto p-5 m-5 rounded-4 opaq_back">
            <div class="main-info row text-center show_tree">
                <h1>{{ tree.common_name }}</h1>
                <h2>{{  tree.scientific_name  }}</h2>
                <div class="col-md-12 col-lg-8">
                    <table class="rounded-4" >
                        <tr class="tr_space">
                            <th>Order:</th>
                            <td>{{ tree.tree_order }}</td>
                        </tr>
                        <tr class="tr_space">
                            <th>Family:</th>
                            <td>{{ tree.family }}</td>
                        </tr>
                        <tr class="tr_space">
                            <th>Genus:</th>
                            <td>{{ tree.genus }}</td>
                        </tr>
                        <tr class="tr_space">
                            <th>Species:</th>
                            <td>{{ tree.species }}</td>
                        </tr>
                        <tr class="tr_space">
                            <th>Deciduous or Evergreen:</th>
                            <td>{{ tree.deciduous }}</td>
                        </tr>
                        <tr class="tr_space">
                            <th>Mature Height:</th>
                            <td>{{ tree.mature_height }}</td>
                        </tr>
                        <tr class="tr_space">
                            <th>Mature Diameter:</th>
                            <td>{{ tree.mature_diameter }}</td>
                        </tr>
                        <tr class="tr_space">
                            <th>Growth Rate:</th>
                            <td>{{ tree.growth_rate }}</td>
                        </tr>
                        <tr class="tr_space">
                            <th>Hardiness Zones:</th>
                            <td>{{ tree.hardiness_zone }}</td>
                        </tr>
                        <tr class="tr_space">
                            <th>Leaf Type:</th>
                            <td>{{ tree.leaf_type }}</td>
                        </tr>
                        <tr class="tr_space">
                            <th>Spring Foliage Color:</th>
                            <td>{{ tree.spring_foliage }}</td>
                        </tr>
                        <tr class="tr_space">
                            <th>Fall Foliage Color:</th>
                            <td>{{ tree.fall_foliage }}</td>
                        </tr>
                        <tr class="tr_space">
                            <th>Description:</th>
                            <td>{{ tree.description }}</td>
                        </tr>
                    </table>
                </div>
                <div class="tree_picture col-sm-12 col-lg-4">
                    {% for picture in pictures %}
                        <div class="m-2">
                            <img src="/static/images/{{picture.path}}" class="tree_picture" alt="tree">
                            <p>{{ picture.attribute }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <footer class="py-5 p-lg-5">
            <div class="container">
                <div class="row gy-4 justify-content-between">
                    <div class="col-auto">
                        <p class="mb-0">© 2024 TreeWise Jonathan Rodgers</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="../static/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/aos.js"></script>
    <script src="../static/js/script.js"></script>
</body>
</html>
