@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,a,button {
    font-weight: 700;
}

a {
    text-decoration: none;
    color: #b6cbce;
    transform: all 0.4s ease;
}

a:hover {
    color: rgb(1, 63, 1);
}

.navbar .nav-link {
    font-weight: 700;
    text-transform: uppercase;
    color: whitesmoke;
}

.navbar .nav-link:hover {
    color: lawngreen;
}

.navbar .nav-link.active {
    color: rgba(126, 252, 0, 0.3);
}

.header{
    width: 100%;
    height: 100vh;
    background-color: rgb(1, 63, 1);
    background-image: url(/static/images/background.png);
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center;
    overflow: scroll;
    transition: .5s ease;
    pointer-events: auto;
}

.top-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid antiquewhite;
    background-color:#384733;
}

.button{
    background-color: rgb(26, 102, 26);
    color: antiquewhite;
    border: none;
    outline: none;
    cursor: pointer;
    text-decoration: none;
}

.button:hover {
    background: rgb(11, 69, 11);
    border-color: 2px solid lawngreen;
    color: antiquewhite;
}

#search-field{
    width: 350px;
    height: 30px;
    border-radius: 10px;
    border: 2xp solid black;
    text-align: center;
}

.top-nav form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

#logo{
    width: 400px;
    cursor: pointer;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex_even {
    flex: 4;
    margin: 40px;
}

.flex_start{
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.block label{
    display: block;
    margin-right: 125px;
}

.opaq_back{
    background-color: antiquewhite;
    opacity: 85%;
    height:auto;
}

.main-info{
    font-weight: 500;
}

.main-info-tree{
    font-weight: bold;
    font-size: 20px;
    text-indent: 20px;
}

.main-info-tree p{
    margin: 20px;
}

.main-info h1{
    font-size: 50px;
    text-align: center;
    margin: 20px;
}

.main-info p{
    font-size: 25px;
    text-indent: 25px;
    margin: 20px;
}

.main-info h2{
    font-size: 30px;
    text-align: center;
    margin: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.reg_form {
    border-style: solid;
    border-width: 3px;
    border-radius: 10px 10px 10px 10px;
    width: 400px;
    height: 750px;
    padding: 40px;
    background-color:whitesmoke;
    margin: 30px;
}

input, select {
    width: 300px;
    height: 30px;
    margin: 10px;
    padding: 3px;
    border-radius: 8px 8px 8px 8px;
    border: 2px solid black;
    font-weight: bold;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

#comment_form{
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

#comment {
    background-color:#124201;
    color:antiquewhite;
    border: 3px none black;
    width: 100%;
    font-size: 18px;
    font-weight: bold;

}


.home_tree{
    width: 325px;
}

.home_tree p {
    font-size: 15px;
    text-align: center;
}

.comment-box{
    background-color:#0f1b0b;
    color: whitesmoke;
    border: 3px solid darkgreen;
    border-radius: 15px;
    height: 90vh;
    margin-top: 20px;
    overflow:auto;
    padding: 10px;
}

.comment-box h2 {
    color: whitesmoke;
    border-bottom: 2px solid darkgreen;
}

.comment{
    display: block;
    text-align: center;
    border: 1px solid darkgreen;
    margin: 10px;
    border-radius: 5px;
    padding: 5px;
}

.comment a {
    color: darkgreen;
    text-decoration: none;
}

.comment_head{
    display: block;
    text-align: center;
}

.comment_head h3{
    font-size: 18px;
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
    margin: 3px;
    text-align: center;
}

.comment_head p{
    color: rgb(147, 147, 147);
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
    margin: 3px;
}

.comment_body{
    text-justify: distribute;
}

.comment_body p{
    margin-left: auto;
    margin-right: auto;
    font-weight:lighter;
    font-size: 15px;
    margin: 8px;
    text-wrap:wrap;
}

.comment_body h4{
    font-weight: 0;
    font-size: 10px;
    color: slategray;
    margin: 8px;
}

.bug-img img{
    height: 125px;
    margin: 20px;
}

.create_tree label, input, textarea, .button, select{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.desc_style {
    padding: 15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    border: 2px solid black;
    border-radius: 6px;
}

.show_popup{
    font-weight: bold;
    font-size: 15px;
    cursor:pointer;
    border: none;
    text-decoration: underline;
    color: blue;
}

.popup_container{
    width: inherit;
    height: inherit;
    pointer-events: none;
    opacity: 0;
}

.popup_container.active {
    opacity: 1;
    pointer-events: auto;
}

.popup_container .popup_box{
    width: inherit;
    border-radius: 3px;
    height: 0;
}

.popup_container.active .popup_box{
    transform: scale(1);
}

.sph1 h1{
    font-size: 55px;
    color: #0f1b0b;
}

.species_list {
    background: #0f1b0b;
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: start;
    font-size: 18px;
    font-weight: bold;
    height: 800px;
    overflow: auto;
}

.species_list a {
    border-bottom: 1px solid #124201;
    text-decoration: none;
    color: rgb(231, 230, 230);
}

.species_list a:hover {
    color: lawngreen;
}

.species_list h3 {
    color: rgb(19, 156, 19);
    font-size: 25px;
    border-bottom: 2px solid darkgreen;
}

.show_tree {
    color:#0f1b0b;
    font-weight: bold;
}

.show_tree table {
    background: #0f1b0b;
    color: whitesmoke;
    padding: 15px;
}

.tr_space {
    font-weight: 100;
    font-size: 18px;
}

.tr_space th {
    padding: 5px 10px;
}

.tree_picture {
    max-width: 350px;
    opacity: 1;
}

/* This styles the hardieness zone finder */

.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    margin: 5px;
}

.zoneDisplay {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.zone-img img{
    height: 350px;
    margin: 20px;
}

.main-info_quiz{
    display: flex;
    height: 100vh;
    width: 200%;
}

.home{
    position: relative;
    left: -50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz_home {
    background-color: #384733;
    padding: 100px;
    border-radius: 15px;
    max-width: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.quiz_home .start_button {
    width: 175px;
    height: 50px;
    background-color: darkgreen;
    border: 2px solid whitesmoke;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 0 7px whitesmoke;
    font-size: 15px;
    color: whitesmoke;
    letter-spacing: 1px;
    font-weight: bold;
    cursor: pointer;
    transition: .5s;
}

.quiz_home .start_button:hover {
    background: #0f1b0b;
    box-shadow: none;
}

.quiz_home h1{
    color: whitesmoke;
    font-size: 50px;
    font-weight: bold;
    text-shadow: 0 0 50 rgb(26, 102, 26);
    margin: 15px;
}

.quiz_home p {
    color: whitesmoke;
    font-size: 20px;
    text-align: center;
    text-shadow: 0 0 50 rgb(26, 102, 26);
    margin: 15px;
    font-weight: bold;
}

.popup_quiz {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.1);
    width: 500px;
    background: #124201;
    border-radius: 6px;
    padding: 10px 25px;
    opacity: 0;
    pointer-events: none;
    transition: .3s ease;
}

.popup_quiz.active {
    opacity: 1;
    pointer-events:auto;
    transform: translate(-50%, -50%) scale(1);
}

.popup_quiz h2 {
    font-size: 50px;
    color: whitesmoke;
}
.popup_quiz .info {
    display: inline-block;
    font-size: 15px;
    color: whitesmoke;
    font-weight: bold;
    margin: 5px 0;
}

.popup_quiz .button_group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid rgb(56, 56, 56);
    margin-top: 10px;
    padding: 15px 0 7px;
}

.popup_quiz .button_group .info_button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 45px;
    background: darkgreen;
    border: 3px solid darkgreen;
    outline: none;
    border-radius: 6px;
    text-decoration: none;
    font-size: 15px;
    color: whitesmoke;
    font-weight: bold;
    box-shadow: 0 0 10px darkgray;
    cursor: pointer;
    transition: .5s;
}

.popup_quiz .button_group .info_button:nth-child(1) {
    background: transparent;
    color: whitesmoke;
}

.popup_quiz .button_group .info_button:nth-child(1):hover {
    background: darkgreen;
    color: whitesmoke;
}

.popup_quiz .button_group .info_button:nth-child(2):hover {
    background: #384733;
    border-color: #384733;
}

.header.active{
    filter:blur(15px);
    pointer-events: none;
}

.quiz_section{
    position: relative;
    left: -80%;
    width: 100%;
    height: 110vh;
    border-radius: 15px;
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    transition: .8s ease-in-out;
    transition-delay: .25s;
}

.quiz_section.active{
    left: 0;
}

.quiz_section .quiz_box {
    position: relative;
    width: 500px;
    background: transparent;
    border: 2px solid ;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    opacity: 0;
    pointer-events: none;
    transform: scale(.1);
    transform: .3s ease;
    transition-delay: 0s;
}

.quiz_section .quiz_box.active {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
    transform: 1s ease;
    transition-delay: 1s;
}

.quiz_box h1 {
    font-size: 32px;
    text-align: center;
    background: linear-gradient(45deg, transparent,#384733, transparent);
    border-radius: 6px;
}

.quiz_box .quiz_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 2px solid #384733;
    margin-bottom: 30px;
}

.quiz_header span {
    font-size: 18px;
    font-weight: bold;
}

.quiz_header .header_score {
    background: #384733;
    border-radius: 3px;
    padding: 7px;
}

.quiz_box .question_text {
    font-size: 25px;
    font-weight: 600;
}

.option_list .option {
    width: 100%;
    padding: 12px;
    background: transparent;
    border: 2px solid rgb(116, 116, 116);
    border-radius: 4px;
    font-size: 17px;
    margin: 15px 0;
    cursor: pointer;
    transition: .3s;
}

.option_list .option:hover {
    background-color: darkgreen;
    border-color: darkgreen;
}

.option_list .option.correct {
    background: black;
    color: green;
    border-color: green;
}

.option_list .option.incorrect {
    background: black;
    color: red;
    border-color: red;
}

.option_list .option.disabled {
    pointer-events: none;
}

.quiz_box .quiz_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #384733;
    padding-top: 20px;
    margin-top: 25px;
}

.quiz_footer .question_total {
    font-size: 16px;
    font-weight: 600;
}

.quiz_footer .next_button {
    width: 100px;
    height: 45px;
    background:#0f1b0b;
    border-color: #0f1b0b;
    outline: none;
    border-radius: 6px;
    font-size: 16px;
    color: whitesmoke;
    font-weight: 600;
    cursor: pointer;
    pointer-events: none;
    transition: .5s;
}


.quiz_footer .next_button.active {
    pointer-events: auto;
    background: darkgreen;
    border-color: darkgreen;
    color: whitesmoke;
}

.quiz_footer .next_button.active:hover {
    background:greenyellow;
    border-color: greenyellow;
}

.quiz_section .results_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.1);
    width: 500px;
    background: transparent;
    border: 2px solid darkgreen;
    border-radius: 6px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: .5s ease;
}

.quiz_section .results_box.active {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);

}

.results_box h2 {
    font-size: 50px;
}

.results_box .percentage_container {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 40px;
}

.percentage_container .circular_progress {
    position: relative;
    width: 250px;
    height: 250px;
    background: conic-gradient(darkgreen 3.6deg, rgb(0, 36, 0) 0deg);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.percentage_container .circular_progress::before {
    content: '';
    position: absolute;
    width: 210px;
    height: 210px;
    background: black;
    border-radius: 50%;
}

.circular_progress .progress_value {
    position: relative;
    font-size: 42px;
    font-weight: 600;
}

.percentage_container .score_text {
    font-size: 26px;
    font-weight: 600;
    margin-top: 20px;
}

.results_box .end_buttons {
    display: flex;
}

.end_buttons button {
    width: 130px;
    height: 45px;
    background-color: darkgreen;
    border: 2px solid darkgreen;
    outline: none;
    border-radius: 6px;
    font-size: 16px;
    color: whitesmoke;
    font-weight: 600;
    margin: 0 20px;
    cursor: pointer;
    transition: .5s;
}

.end_buttons button:nth-child(1):hover {
    background:#0f1b0b;
    border-color: #0f1b0b ;
}

.end_buttons button:nth-child(2) {
    background: transparent;
    color: darkgreen;
}

.end_buttons button:nth-child(2):hover {
    background-color: darkgreen;
    color: whitesmoke;
}

.quiz_pics {
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz_pics .quiz_picture {
    width: 115px;
    margin: 3px;
}

.Qresults_sec {
    background: #0f1b0b;
    color: whitesmoke;
}

.Qresults_sec table {
    border: 3px solid darkgreen;
}

.quizR_head th, td {
    border-bottom: 1px solid darkgreen;
    margin: 10px;
    padding: 10px;
    height: 35px;
}





.form-control {
    background-color: darkgreen;
    border: 2px solid rgb(1, 32, 46);
}

.form-control:focus {
    border: 2px solid lawngreen;
    box-shadow: none;
    background-color:#0f1b0b;
}

.form-control::placeholder {
    color: whitesmoke;
    font-weight: 700;
    font-size: 18px;
}

input.form-control {
    height: 50px;
}

footer {
    background-color: rgb(1, 63, 1);
    font-weight: 500;
    color: antiquewhite;
}
